{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-center mx-5 py-5 border-bottom">
        {% include "components/items/profile-menu-aside.html.twig" %}
    </div>

    <menu class="menu-profile">
        <ul class="menu-profile-list mx-5">
            <a href="" class="menu-profile-item nav-item nav-link"><li>Seguridad</li></a>
            <a href="" class="menu-profile-item nav-item nav-link"><li>Perfil</li></a>
            <a href="{{ path('app_logout') }}" class="menu-profile-item nav-item nav-link"><li>Cerrar sesión</li></a>
        </ul>
    </menu>
{% endblock %}
