{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex flex-column justify-content-center align-items-center mx-3 py-3 border-bottom">
        <div class="my-3 text-center">
            <div style="background-image: url({{ asset('images/web/avatar.png') }});" class="profile-icon-menu bg-white rounded-circle"></div>
            <b><p class="my-2">{{ app.user.name }} {{ app.user.firstname }}</p></b>
        </div>
    </div>

    <menu class="menu-profile">
        <ul class="menu-profile-list mx-5">
            <a href="" class="menu-profile-item nav-item nav-link"><li>Seguridad</li></a>
            <a href="" class="menu-profile-item nav-item nav-link"><li>Perfil</li></a>
            <a href="{{ path('app_logout') }}" class="menu-profile-item nav-item nav-link"><li>Cerrar sesión</li></a>
        </ul>
    </menu>
{% endblock %}
