{% extends 'base.html.twig' %}

{% block title %}Expression index{% endblock %}

{% block body %}
    <h1>Expression index</h1>

    <button class="btn btn-success">Enviar</button>

    
{% endblock %}
