<div class="col-2 d-flex flex-column align-items-center">
    {% if app.user %}
        <div style="background-image: url({{ asset('images/web/avatar.png') }});" class="profile-icon-menu bg-white rounded-circle"></div>
    {% else %}
        <div id="login-form"></div>
    {% endif %}
</div>