<aside class="aside-web">
    <div class="d-flex justify-content-end w-100">
        <i class="bi bi-x-lg mx-3 text-secondary close-icon" style="font-size: 2em;"></i>
    </div>

    <div class="aside-body"></div>
</aside>