<script src="{{ asset('build/header.js') }}"></script>

<div class="bg text-center" style="background-color: rgb(59, 59, 85);">
    <p class="m-0 text-white">Versión pre-Alpha 0.1.0</p>
</div>
<header style="background-image: url({{ asset('images/web/fondo-header.jpg') }});">
    <div class="d-flex justify-content-between align-items-center px-5" style="background-color: rgba(0, 0, 0, 0.705);">
        <div class="col-2">
            <div class='logo' style="background-image: url({{ asset('images/web/logo.png') }});"></div>
        </div>

        {% include "components/menu.html.twig" %}

        {% include "components/items/profile-header.html.twig" %}
    </div>
    <div id="expression-form" class="py-5"></div>
</header>