<div class="bg text-center" style="background-color: rgb(59, 59, 85);">
    <p class="m-0 text-white">Versión beta</p>
</div>
<header class="p-5 bg-warning">
    <div class="row align-items-center">
        <div class="col-2">
            <img src="/images/web/logo.png" alt="logo" class="w-50">
        </div>
        <div class="col-8" id="embed">
        </div>
        <div class="col-2 d-flex flex-column align-items-center">
            <div style="width: 75px; height: 75px;" class="bg-white rounded-circle border border-success"></div>
        </div>
    </div>
</header>