<script src="{{ asset('build/header.js') }}"></script>

<div class="bg text-center" style="background-color: rgb(59, 59, 85);">
    <p class="m-0 text-white">Versión beta</p>
</div>
<header class="p-5 bg-warning">
    <div class="row align-items-center">
        <div class="col-2">
            <img src="/images/web/logo.png" alt="logo" class="w-50">
        </div>
        <div class="col-8" id="expression-form">
        </div>
        <div class="col-2 d-flex flex-column align-items-center">
        {% if app.user %}
            <div style="background-image: url({{ asset('images/web/avatar.png') }}); " class="profile-icon bg-white rounded-circle"></div>
        {% else %}
            <div id="login-form"></div>
        {% endif %}
        </div>
    </div>
</header>